#One Hot Encoding

Kavish Nag

24070126085

AIML B1

- Creating the data

In [ ]:
import pandas as pd
df=pd.DataFrame({'team':['A','A','B','B','B','B','C','C'],'points':[25,12,15,14,19,23,25,29]})

print(df)

  team  points
0    A      25
1    A      12
2    B      15
3    B      14
4    B      19
5    B      23
6    C      25
7    C      29

- Perform One-Hot Encoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder
#Creating instance of one-hot encoder
encoder = OneHotEncoder(handle_unknown='ignore') #handle_unknown - controls what happens when you try to transform data that contains categories not seen during fitting.

#perform one-hot encoding on 'team' column
encoder_df = pd.DataFrame(encoder.fit_transform(df[['team']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_df = df.join(encoder_df)

#view final df
print(final_df)

  team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      15  0.0  1.0  0.0
3    B      14  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0
5    B      23  0.0  1.0  0.0
6    C      25  0.0  0.0  1.0
7    C      29  0.0  0.0  1.0

DROP the original categorical variable

In [ ]:
#drop 'team' variable
final_df.drop('team', axis=1, inplace=True)

#view final df
print(final_df)

   points    0    1    2
0      25  1.0  0.0  0.0
1      12  1.0  0.0  0.0
2      15  0.0  1.0  0.0
3      14  0.0  1.0  0.0
4      19  0.0  1.0  0.0
5      23  0.0  1.0  0.0
6      25  0.0  0.0  1.0
7      29  0.0  0.0  1.0

#Practice Example

Create a dataframe with columns as "Gender","Age","Degree".

Create 10 data Values in this data set
Apply one-hot encoding on the column:
1. Gender
2. Degree

In [ ]:
import pandas as pd
data = ['Gender','Age','Degree']
# Create an empty DataFrame with specified columns
df=pd.DataFrame(columns=data)
print(df)

Empty DataFrame
Columns: [Gender, Age, Degree]
Index: []

In [ ]:
import pandas as pd
import random

Gender = ['M', 'F']
num_users = 10

# Populate the 'Gender' column with random choices
df['Gender'] = random.choices(Gender, weights=(50,50), k=num_users)
print(df)

  Gender  Age Degree
0      M  NaN    NaN
1      F  NaN    NaN
2      M  NaN    NaN
3      F  NaN    NaN
4      F  NaN    NaN
5      F  NaN    NaN
6      M  NaN    NaN
7      F  NaN    NaN
8      M  NaN    NaN
9      F  NaN    NaN

In [ ]:
Gender = ['M', 'F']
num_users = 10
# Fill genders randomly
df['Gender'] = random.choices(Gender, weights=(50,50), k=num_users)
print(df)

In [ ]:
df['Age']=random.choices(range(10,20),k=num_users)
print(df)

  Gender  Age Degree
0      M   17    NaN
1      F   17    NaN
2      M   19    NaN
3      F   18    NaN
4      F   10    NaN
5      F   13    NaN
6      M   12    NaN
7      F   16    NaN
8      M   13    NaN
9      F   11    NaN

In [ ]:
Degree=['Bcom','Btech','BBA']
# filling degrees randomly
df['Degree'] = random.choices(Degree, k=num_users)
print(df)

  Gender  Age Degree
0      M   17   Bcom
1      F   17    BBA
2      M   19  Btech
3      F   18   Bcom
4      F   10  Btech
5      F   13    BBA
6      M   12    BBA
7      F   16   Bcom
8      M   13   Bcom
9      F   11  Btech

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder1 = OneHotEncoder(handle_unknown='ignore')
#perform one-hot encoding on 'team' column
encoder1_df = pd.DataFrame(encoder.fit_transform(df[['Gender','Degree']]).toarray())

final_df1 = df.join(encoder1_df)

print(final_df1)

  Gender  Age Degree    0    1    2    3    4
0      M   17   Bcom  0.0  1.0  0.0  1.0  0.0
1      F   17    BBA  1.0  0.0  1.0  0.0  0.0
2      M   19  Btech  0.0  1.0  0.0  0.0  1.0
3      F   18   Bcom  1.0  0.0  0.0  1.0  0.0
4      F   10  Btech  1.0  0.0  0.0  0.0  1.0
5      F   13    BBA  1.0  0.0  1.0  0.0  0.0
6      M   12    BBA  0.0  1.0  1.0  0.0  0.0
7      F   16   Bcom  1.0  0.0  0.0  1.0  0.0
8      M   13   Bcom  0.0  1.0  0.0  1.0  0.0
9      F   11  Btech  1.0  0.0  0.0  0.0  1.0

#DUMMY VARIABLE TRAP

The dummy variable trap is a problem in regression analysis that occurs when all categories of a categorical variable are included as dummy variables (binary indicators) alongside a constant intercept term